.row {
  display: flex;
  justify-content: center;
  color: rgb(59, 59, 105);
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: #10599e;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: rgb(14, 62, 124);
}

.popup {
  min-height: 50px;
}
